<h1>Hello there!</h1>
  <p>For the rails application portion of my final project, I decided to create a simple single model. I used a phone contact list as an example. Feel free to enter or delete as many fake phone numbers as you wish.</p>
  <p>I felt there was no better way to fulfill the image requirement for this assignment than with this picture of my dog. On the off chance that you're more of a cat person, I figured I'd throw my cat in the mix as well.</p>
    <img src="/assets/dog.jpg">
    <img src="/assets/cat.jpg">
